<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hasil Prediksi</title>
    <style>
      * {
        background-color: antiquewhite;
      }
    </style>
  </head>
   <body>
   <h2><center>Prediksi Harga Mobil Bekas Berdasarkan Tahun Keluar</center></h2>
    <center>
    <div class="div2">
      <form action = "http://localhost:5000" method = "POST">
         <p> Masukkan tahun mobil <input type = "number" name = "TahunMobil" min="2008" max="2023" /> <input type = "submit" value = "OK" /> </p>    
      </form>
    
   <p>Prediksi harga mobil anda adalah: Rp. {{ result }}</p>
   </center>
   </div>
   </body>
<style>
    .div2 {
     width: 400px;
     height: 100px;  
     padding: 50px;
     border: 1px solid black;
   }
   </style>
</html>